services:
  postgres:
    image: postgres
    environment:
      POSTGRES_PASSWORD: postgres12
      POSTGRES_USER: postgres
      POSTGRES_DB: auctions
    ports:
      - 5433:5432
    volumes:
      - pgdata:/var/lib/postgresql
  mongodb:
    image: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: mongopw
    ports:
      - 27018:27017
    volumes:
      - mongodata:/data/db
volumes:
  pgdata:
  mongodata: